.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: relative;
  width: 100%;
  color: #000;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: 786px) {
    flex-wrap: wrap;
  }
}

.header .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin: 0 10px;
  width: 120px;
  text-decoration: none;
}

.header .nav-link:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.top-search {
  display: flex;
  align-items: center;
}

.header .navigation {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  @media screen and (max-width: 786px) {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    background: #a5a4de;
    padding: 10px 0;
    .nav-link {
      order: 2;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        background: #888888;
      }
    }
    .top-search {
      order: 1;
      width: 100%;
    }
    .input-content {
      max-width: 100%;
    }
  }
}

.header.open .navigation {
  display: flex;
}

.header .navicon {
  background: #333;
  display: none;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
  margin-right: 15px;
  @media screen and (max-width: 786px) {
    display: block;
  }
}

.header .navicon:before,
.header .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .navicon:before {
  top: 7px;
  transform-origin: 0 -5px;
}

.header .navicon:after {
  top: -7px;
  transform-origin: center;
}

.header.open .navicon {
  background: transparent;
}

.header.open .navicon:before {
  transform: rotate(-45deg);
}

.header.open .navicon:after {
  transform: rotate(45deg);
}

.header-logo {
  height: 80px;
}